packages/automation/sonora_prospector_flow.json
{
  "name": "Sonora Prospector Flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id as task_id, t.term, l.city_name \nFROM search_queries t \nJOIN search_locations l ON t.id = l.search_id \nWHERE t.is_executed = FALSE \nORDER BY t.priority_order ASC, t.created_at ASC \nLIMIT 1;"
      },
      "id": "2",
      "name": "Get Next Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [320, 300],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sales_logic_mapping;"
      },
      "id": "8",
      "name": "Get Sales Logic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [540, 450],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $node[\"Get Next Task\"].json.term }} en {{ $node[\"Get Next Task\"].json.city_name }}"
            },
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_MAPS_API_KEY }}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Google Maps API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "4",
      "name": "Split Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [760, 300]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\noutput = []\nrules = _node['Get Sales Logic'].all()\n\nfor item in _input.all():\n    data = item.json\n    suggestions = []\n    score = 0.0\n    \n    # Lógica dinámica basada en sales_logic_mapping\n    for rule in rules:\n        trigger = rule.json['condition_trigger']\n        if trigger == 'no_website' and not data.get('website_url'):\n            suggestions.append({\"service\": rule.json['niche_name'], \"reason\": rule.json['pitch_template']})\n        elif trigger == 'low_reviews' and int(data.get('user_ratings_total', 0)) < 30:\n            suggestions.append({\"service\": rule.json['niche_name'], \"reason\": rule.json['pitch_template']})\n\n    data['sales_suggestions'] = suggestions\n    data['is_high_quality'] = score >= 0.6\n    output.append(data)\n\nreturn output"
      },
      "id": "5",
      "name": "Python Scoring & Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "id"
        },
        "columnToMatchOn": "google_place_id",
        "options": {}
      },
      "id": "6",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1200, 200],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE search_queries SET is_executed = TRUE WHERE id = '{{ $node[\"Get Next Task\"].json[\"task_id\"] }}';"
      },
      "id": "7",
      "name": "Mark Task Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1200, 400],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[ { "node": "Get Next Task", "type": "main", "index": 0 } ]] },
    "Get Next Task": { "main": [[ { "node": "Google Maps API", "type": "main", "index": 0 }, { "node": "Get Sales Logic", "type": "main", "index": 0 } ]] },
    "Google Maps API": { "main": [[ { "node": "Split Results", "type": "main", "index": 0 } ]] },
    "Split Results": { "main": [[ { "node": "Python Scoring & Audit", "type": "main", "index": 0 } ]] },
    "Get Sales Logic": { "main": [[ { "node": "Python Scoring & Audit", "type": "main", "index": 0 } ]] },
    "Python Scoring & Audit": { "main": [[ { "node": "Upsert Lead", "type": "main", "index": 0 }, { "node": "Mark Task Completed", "type": "main", "index": 0 } ]] }
  }
}
