packages/automation/sonora_prospector_flow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id as task_id, t.term, l.city_name \nFROM search_tasks t \nJOIN search_locations l ON t.id = l.search_task_id \nWHERE t.status = 'pending' \nORDER BY t.priority_order ASC, t.created_at ASC \nLIMIT 1;"
      },
      "id": "2",
      "name": "Get Next Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [320, 300],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.term }} en {{ $json.city_name }}"
            },
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_MAPS_API_KEY }}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Google Maps API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "4",
      "name": "Split Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [760, 300]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "output = []\n# Recuperamos el ID de la tarea del nodo inicial para mantener trazabilidad\ntask_id = _node[\"Get Next Task\"].json[\"task_id\"]\n\nfor item in _input.all():\n    data = item.json\n    score = 0.0\n    breakdown = {\"website\": 0, \"rating\": 0, \"volume\": 0, \"region\": 0}\n    \n    # 1. Presencia Digital (40%)\n    if data.get('website'):\n        score += 0.4\n        breakdown[\"website\"] = 0.4\n        \n    # 2. Reputación (30%)\n    rating = float(data.get('rating', 0))\n    if rating >= 4.5:\n        score += 0.3\n        breakdown[\"rating\"] = 0.3\n        \n    # 3. Autoridad/Volumen (20%)\n    reviews = int(data.get('user_ratings_total', 0))\n    if reviews > 50:\n        score += 0.2\n        breakdown[\"volume\"] = 0.2\n\n    # 4. Contexto Local (10%)\n    if 'sonora' in str(data.get('formatted_address', '')).lower():\n        score += 0.1\n        breakdown[\"region\"] = 0.1\n\n    data['task_id'] = task_id\n    data['relevance_score'] = round(score, 2)\n    data['is_high_quality'] = score >= 0.7\n    data['scoring_breakdown'] = breakdown # Campo para Auditoría\n    output.append(data)\n\nreturn output"
      },
      "id": "5",
      "name": "Python Scoring & Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "id"
        },
        "columnToMatchOn": "google_place_id",
        "options": {}
      },
      "id": "6",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1200, 200],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE search_tasks SET status = 'completed', executed_at = NOW(), leads_found = (SELECT COUNT(*) FROM leads WHERE task_id = '{{ $node[\"Get Next Task\"].json[\"task_id\"] }}') WHERE id = '{{ $node[\"Get Next Task\"].json[\"task_id\"] }}';"
      },
      "id": "7",
      "name": "Mark Task Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1200, 400],
      "credentials": {
        "postgres": {
          "id": "TU_ID_DE_CREDENCIAL_POSTGRES",
          "name": "Sonora_Engine_DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[ { "node": "Get Next Task", "type": "main", "index": 0 } ]] },
    "Get Next Task": { "main": [[ { "node": "Google Maps API", "type": "main", "index": 0 } ]] },
    "Google Maps API": { "main": [[ { "node": "Split Results", "type": "main", "index": 0 } ]] },
    "Split Results": { "main": [[ { "node": "Python Scoring & Audit", "type": "main", "index": 0 } ]] },
    "Python Scoring & Audit": { "main": [[ { "node": "Upsert Lead", "type": "main", "index": 0 }, { "node": "Mark Task Completed", "type": "main", "index": 0 } ]] }
  }
}
