packages/automation/sonora_prospector_flow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 24
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { query: 'Agencias Aduanales', location: 'Nogales, Sonora' } },\n  { json: { query: 'Desarrollos Inmobiliarios', location: 'Puerto Peñasco, Sonora' } },\n  { json: { query: 'Logistica Industrial', location: 'Hermosillo, Sonora' } }\n];"
      },
      "id": "2",
      "name": "Target Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }} en {{ $json.location }}"
            },
            {
              "name": "key",
              "value": "TU_API_KEY_AQUI"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Google Maps API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "4",
      "name": "Split Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [760, 300]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "output = []\nfor item in _input.all():\n    data = item.json\n    score = 0.0\n    \n    # Scoring Logic (Validated via TDD)\n    # 1. Digital Presence (40%)\n    if data.get('website'): \n        score += 0.4\n        \n    # 2. Reputation (30%)\n    rating = float(data.get('rating', 0))\n    if rating >= 4.5: \n        score += 0.3\n    elif rating >= 4.0: \n        score += 0.15\n        \n    # 3. Established Business (20%)\n    reviews = int(data.get('user_ratings_total', 0))\n    if reviews > 50: \n        score += 0.2\n\n    # 4. Location Match (10%)\n    if 'sonora' in str(data.get('formatted_address', '')).lower(): \n        score += 0.1\n\n    data['relevance_score'] = round(score, 2)\n    data['is_high_quality'] = score >= 0.7\n    output.append(data)\n\nreturn output"
      },
      "id": "5",
      "name": "Python Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "id"
        },
        "columnToMatchOn": "google_place_id",
        "options": {}
      },
      "id": "6",
      "name": "PostgreSQL Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1200, 300],
      "credentials": {
        "postgres": {
          "id": "ID_DE_TU_CREDENCIAL",
          "name": "Sonora_Engine_DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Target Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target Queries": {
      "main": [
        [
          {
            "node": "Google Maps API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps API": {
      "main": [
        [
          {
            "node": "Split Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results": {
      "main": [
        [
          {
            "node": "Python Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Scoring": {
      "main": [
        [
          {
            "node": "PostgreSQL Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}